<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                    <i class="fa fa-dashboard"></i>
                    Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/PurchaseItems">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Purchase item
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AddItem">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    Add item
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    Sell item
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    My stock
                    </a>
                </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
