<!-- TABLE -->
<form action="/invoice" method="POST">
    <div class="container pt-4 pb-4 m-0">
      <table class="table">
        <thead>
        <tr class="text-600 text-white bgc-default-tp1 py-25">
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <%  var totalAmount = 0; %>
    <%  cartList.forEach(function(list){ %>
    <%   totalAmount += list.amount; %>
        <tbody>
        <tr class="mb-2 mb-sm-0 py-25 bgc-default-l4">
                <td><%= list.item %></td>
                <td><%= list.quantity %></td>
                <td><%= list.amount %></td>
        </tr>
        </tbody>
    <%  }) %>
    </table>
    <h4>Total Amount: <%= totalAmount %></h4>
        <button class="btn btn-primary" type="submit">Buy</button>
    </div>
</form>